<% header = { title: 'Home' } %>
<% include partials/header %>
<h2><span class="fa fa-database"></span> Database home</h2>
<md-button class="md-raised md-primary">Click the button</md-button>
<% include partials/footer %>